{% extends 'base.html' %}

{% block title %}Editar Artículo{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Artículo</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <label for="id_titulo">Título:</label>
            {{ form.titulo.errors }}
            {{ form.titulo }}
        </div>
        <div class="form-group">
            <label for="id_descripcion">Descripción:</label>
            {{ form.descripcion.errors }}
            {{ form.descripcion }}
        </div>
        <div class="form-group">
            <label for="id_precio">Precio:</label> <!-- Agregar este campo -->
            {{ form.precio.errors }}
            {{ form.precio }}
        </div>

        <div class="form-group">
            <label for="id_stock">Stock</label>
            {{ form.stock.errors }}
            {{ form.stock }}
        </div>

        <div class="form-group">
            <label for="id_imagen">Imagen:</label>
            {{ form.imagen.errors }}
            {{ form.imagen }}
        </div>
        <button type="submit" class="btn btn-cartoon">Guardar Cambios</button>
        <hr>
        <!-- Botón para eliminar el producto -->
        <form method="post" action="{% url 'blog:eliminar_articulo' articulo.pk %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger mt-2">Eliminar Artículo</button>
        </form>


    </form>



</div>
{% endblock %}