{% extends 'base.html' %}

{% block title %}{{ imagen.titulo }}{% endblock %}

{% block content %}
<div class="containe sizedetalles">
    <h2>{{ imagen.titulo }}</h2>
    <hr>
    <img src="{{ imagen.imagen.url }}" class="img-fluid mb-4" alt="{{ imagen.titulo }}">
  
    
</div>

<div>
    {% if request.user.is_authenticated and request.user == imagen.autor or request.user.perfil.rol == 'administrador' %}
    <a href="{% url 'galeria:editar_imagen' imagen.pk %}" class="btn btn-secondary">Editar Imagen</a>
    <form action="{% url 'galeria:eliminar_imagen' imagen.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar Imagen</button>
    </form>
    {% endif %}

    <a href="{% url 'galeria:lista_imagenes' %}" class="btn btn-cartoon">Volver a la Galería</a>
</div>
{% endblock %}