<!--Lista imagenes-->
{% extends 'base.html' %}

{% block title %}Galería{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <h2>Galería de Imágenes</h2>
    {% if request.user.is_authenticated and request.user.perfil.rol == 'editor' or request.user.perfil.rol == 'administrador' %}
        <a href="{% url 'galeria:subir_imagen' %}" class="btn btn-cartoon mb-3">Subir Imagen</a>
    {% endif %}
    <div class="row">
        {% for imagen in imagenes %}
            <div class="size">
                <div class="mb-3">
                    <img src="{{ imagen.imagen.url }}" class="card-img-top" alt="{{ imagen.titulo }}">
                </div>
                <a href="{% url 'galeria:detalle_imagen' imagen.pk %}" class="btn btn-cartoon">Ver Detalle</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}